.aboutUs {
    background: url('/aboutUs1.jfif') top left / 60% 60vh no-repeat, 
    url('/aboutUs2.jpg') right bottom / 60% 60vh no-repeat;       
    height: 100vh;    
    background-repeat: no-repeat; 
    background-color: #e2e3f0fd;
    text-align: center;     
}