.main{
  text-align: center;  
     
}

.video {  
  position: absolute;  
  opacity: 0.7;  
  z-index: -1;
  object-fit:fill;
  height: 100%;
  width: 100%;  
  top: 0;
  left: 0;    
}

.titleMainPage {
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.textNameCompany {
  color:rgb(5, 9, 85);
}

.emptyDiv {
  width: 160px;  
  height: 180px; 
}
